on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: Test Run
    steps:
      # To use this repository's private action, you must check out the repository
      - name: Checkout
        uses: actions/checkout@v1

      - name: Launch the local action.
        uses: ./ # Uses an action in the root directory
        id: test
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          outFile: './output/test.json'

      - name: Print the output
        run: |
          echo "Latest tag: ${{ steps.test.outputs.latest_release }}";
          echo "Release data: ${{ steps.test.outputs.data_json }}";
          ls -la output
